{% extends 'base.html.twig' %}
{% block title %}Needs{% endblock %}
{% block btn %}add{% endblock %}
{% block content %}
    <div class="center filters">
        <button class="btn nopadding {% if col == 'status' %}colorBackGFI{% else %}colorBackW{% endif %} orange-text noboxshadow" type="submit" name="status">Status
            <i id="status" class="material-icons right ml5">
                {% if col == 'status' %}
                  {% if tri == 'ASC' %}
                    arrow_drop_up
                  {% else %}
                    arrow_drop_down
                  {% endif %}
                {% else %}
                  arrow_drop_down
                {% endif %}
              </i>
        </button>
        <button class="btn nopadding {% if col == 'title' %}colorBackGFI{% else %}colorBackW{% endif %} orange-text noboxshadow" type="submit" name="title">Title
            <i id="title" class="material-icons right ml5">
              {% if col == 'title' %}
                {% if tri == 'ASC' %}
                  arrow_drop_up
                {% else %}
                  arrow_drop_down
                {% endif %}
              {% else %}
                arrow_drop_down
              {% endif %}
            </i>
        </button>
        <button class="btn nopadding {% if col == 'date' %}colorBackGFI{% else %}colorBackW{% endif %} orange-text noboxshadow" type="submit" name="date">Date
            <i id="date" class="material-icons right ml5">
              {% if col == 'date' %}
                {% if tri == 'ASC' %}
                  arrow_drop_up
                {% else %}
                  arrow_drop_down
                {% endif %}
              {% else %}
                arrow_drop_down
              {% endif %}
            </i>
        </button>
        <button class="btn nopadding {% if col == 'client' %}colorBackGFI{% else %}colorBackW{% endif %} orange-text noboxshadow" type="submit" name="customer">Customer
            <i id="customer" class="material-icons right ml5">
              {% if col == 'client' %}
                {% if tri == 'ASC' %}
                  arrow_drop_up
                {% else %}
                  arrow_drop_down
                {% endif %}
              {% else %}
                arrow_drop_down
              {% endif %}
            </i>
        </button>
    </div>

    <div class="row center">
        <div class="input-field col s12">
            <i class="material-icons prefix colorGFI">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete colorGFI">
            <label class="colorGFI" for="autocomplete-input">Search</label>
        </div>
    </div>

    <ul class="collection">

        {% for need in needs %}
            <li class="collection-item avatar">
                <i class="circle green"></i>
                <B><a href="{{ path('need_show',{'id':need.id}) }}">{{ need.title }}</a></B>
                <p>{{ need.client.nom }} <br>
                    {% if need.date %}{{ need.date|date('Y-m-d') }}{% endif %}
                </p>
                <a id="delete_{{ need.id }}" need="{{ need.id }}" need-name="{{ need.title }}" class="secondary-content"><i class="material-icons colorGFI">delete</i></a>
            </li>
        {% endfor %}
    </ul>

    <div id="modalSuppr" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="orange-text center">Delete a need</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete the need "<span id="needname"></span>" (id: <span id="todelete"></span>) ?</p>
                <div class="center filters">
                    <button class="btn nopadding colorBackW orange-text noboxshadow" id="no">No</button>
                    <button class="btn nopadding colorBackW orange-text noboxshadow" id="yes">Yes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
          $('input.autocomplete').autocomplete({
            data: {
              {% for title in titles %}
                "{{ title }}": null,
              {% endfor %}
            },
            limit: 5,
            onAutocomplete: function(val) {
              var url = "{{ path('need_index', { 'srch': 'need_srch' }) }}";
              url = url.replace("need_srch", val);
              document.location.href = url;
            },
            minLength: 3,
          });

            $("[id^='delete_']").click(function(){
                var need = $(this).attr('need');
                var need_name = $(this).attr('need-name');
                $("#todelete").html(need);
                $("#needname").html(need_name);
                $('#modalSuppr').css("display","block");
            });

            $("#no").click(function(){
                $('#modalSuppr').css("display","none");
            });

            $("#yes").click(function(){
                $('#modalSuppr').css("display","none");
                var id = $("#todelete").html();
                var url = "{{ path('need_delete', { 'id': 'need_id'}) }}";
                url = url.replace("need_id", id);

                document.location.href = url;
            });

            $(".btn").click(function(){
                var filtre = $(this).attr('name');
                var tri = "";

                if(filtre == "status" || filtre == "title" || filtre == "date" || filtre == "customer"){
                    tri = $(this).children('i').html();

                    $('.btn').removeClass("colorBackGFI");
                    $('.btn').addClass("colorBackW");

                    if(filtre != "status") { $('#status').html("arrow_drop_down"); }
                    if(filtre != "title") { $('#title').html("arrow_drop_down"); }
                    if(filtre != "date") { $('#date').html("arrow_drop_down"); }
                    if(filtre != "customer") { $('#customer').html("arrow_drop_down"); }

                    if(tri.indexOf("up") == -1){
                        tri = tri.replace("down","up");
                    } else {
                        tri = tri.replace("up","down");
                    }

                    $(this).addClass('colorBackGFI');
                    $(this).children('i').html(tri);
                }

                var db_tri = "";
                switch(tri.indexOf("up")) {
                  case -1:
                      db_tri = "DESC";
                      break;
                  default:
                      db_tri = "ASC";
                }

                var db_col = "";
                switch(filtre) {
                  case "status":
                      db_col = "status";
                      break;
                  case "title":
                      db_col = "title";
                      break;
                  case "date":
                      db_col = "date";
                      break;
                  case "customer":
                      db_col = "client";
                      break;
                  default:
                      db_col = "date";
                  }

                  var url = "{{ path('need_index', { 'col': 'need_col', 'tri': 'need_tri', }) }}";
                  url = url.replace("need_col", db_col);
                  url = url.replace("need_tri", db_tri);
                  url = url.replace("amp;", "");

                  document.location.href = url;
            });

        });
    </script>
{% endblock %}
