{% extends 'base.html.twig' %}
{% block title %}Need : {{ need.id }}{% endblock %}
{% block btn %}<a href="{{ path('need_delete', {'id': need.id}) }}" btn-floating btn-large colorBackGFI addNeed noboxshadow"><i class="material-icons orange-text">delete</i></a>{% endblock %}
{% block content %}


    <div class="container">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">work</i>Customer<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4" style="padding:0 0 0 1em;">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">date_range</i>Date<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4"><span>{% if need.date %}{{ need.date|date('Y-m-d') }}{% endif %}</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">person</i>Client<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4"><span><a href="{{ path('client_show',{'id':need.client.id}) }}"></a>{{ need.client.nom }}</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">contacts</i>Contact name<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4">
                                <ul class="collection">
                                    <li class="collection-item avatar">
                                        <span class="title">{{ need.contactName.name }}</span>
                                        <p>{{ need.contactName.name }} <br>
                                            {{ need.contactName.mail }}
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">format_align_justify</i>Need<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4" style="padding:0 0 0 1em;">
                    <ul class="collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">subject</i>Title<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4"><span>{{ need.title }}</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">description</i>Full description<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4"><span>{{ need.fullDescription }}</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">assignment_turned_in</i>3 main key success factors<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4">
                                <span>
                        <ul>
                            <li>{{ need.factor1 }}</li>
                            <li>{{ need.factor2 }}</li>
                            <li>{{ need.factor3}}</li>
                        </ul>
                                </span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">watch_later</i>Duration<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">timer</i>Start at the latest<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4">
                                <span>{% if need.startAt %}{{ need.startAt|date('Y-m-d') }}{% endif %}</span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">gps_fixed</i>Location<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4">
                                <span>
                                 <ul>
                                    <li>{{ need.road }}</li>
                                    <li>{{ need.city }}</li>
                                    <li>{{ need.zipCode }}</li>
                                 </ul>
                                </span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">attach_money</i>Rate<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4"><span>{{ need.rate }}</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="position:relative;">
                                <i class="material-icons">folder</i>Description file<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                                    <i class="material-icons">keyboard_arrow_down</i></div></div>
                            <div class="collapsible-body grey lighten-4"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">face</i>Consultants name<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4">
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="material-icons circle">assignment_ind</i>
                            <span class="title">Pierre</span>
                            <p>STROBEL <br>
                                + 33 6 87 25 40 32
                            </p>
                            <ul>
                                <div class="chip">SYMPHONY</div>
                                <div class="chip">CSS</div>
                            </ul>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle yellow">assignment_ind</i>
                            <span class="title">Maxime</span>
                            <p>LEBAIL <br>
                                + 33 6 85 33 60 29
                            </p>
                            <ul>
                                <div class="chip">SHAREPOINT</div>
                                <div class="chip">MANAGER</div>
                            </ul>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle green">assignment_ind</i>
                            <span class="title">Joan</span>
                            <p>GABORIT<br>
                                + 33 6 59 99 11 78
                            </p>
                            <ul>
                                <div class="chip">WINDOWS SERVER</div>
                                <div class="chip">CSS</div>
                            </ul>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle red">assignment_ind</i>
                            <span class="title">Alexis</span>
                            <p>BILLON<br>
                                + 33 6 30 01 18 68
                            </p>
                            <ul>
                                <div class="chip">C#</div>
                                <div class="chip">Linux Centos</div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header active" style="position:relative;">
                    <i class="material-icons">remove_red_eye</i>Status<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4">
                    <ul>
                        {% if need.status == 1 %}
                            <div class="chip">OPEN</div>
                        {% endif %} {% if need.status == 2%}
                            <div class="chip" style="color:green;">WIN</div>
                        {% endif %} {% if need.status == 3%}
                            <div class="chip" style="color:red;">LOST</div>
                        {% endif %}
                       
                    </ul>
                </div>
            </li>
        </ul>

    </div>




{% endblock %}
{% block script %}
<script>

    $(".collapsible-header").click(function(){
        var chevron = $(this).children('div').children('i').html();
        if(chevron == "keyboard_arrow_down"){
            chevron = "keyboard_arrow_up";
        } else {
            chevron = "keyboard_arrow_down";
        }
        $(this).children('div').children('i').html(chevron);
    });
</script>
{% endblock %}

