{% extends 'base.html.twig' %}
{% block title %}Need : {{ need.id }}{% endblock %}
{% block content %}
    <div class="container">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">date_range</i>Date<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span> {% if need.date %}{{ need.date|date('Y-m-d') }}{% endif %} </span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">person</i>Client<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span>{{ need.client.nom }}</span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">contacts</i>Contact name<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span>{{ need.contactName.name }}</span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">subject</i>Title<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span>{{ need.title }}</span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">description</i>Full description<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span>{{ need.fullDescription }}</span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">assignment_turned_in</i>3 main key success factors<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span><ul>
                    <li>{{ need.factor1 }}</li>
                    <li>{{ need.factor2 }}</li>
                    <li>{{ need.factor3}}</li>
                    </ul></span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">watch_later</i>Duration<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span>A FAIREEEEE URGENT</span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">timer</i>Start at the latest<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span>{% if need.startAt %}{{ need.startAt|date('Y-m-d') }}{% endif %}</span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">gps_fixed</i>Location<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span><ul>
                    <li>{{ need.road }}</li>
                    <li>{{ need.city }}</li>
                    <li>{{ need.zipCode }}</li>
                    </ul></span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">attach_money</i>Rate<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span>{{ need.rate }}</span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">folder</i>Description file<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span><p>{{ need.fullDescription }}</p></span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">face</i>Consultants name<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span><p>{{ need.consultantName }}</p></span></div>
            </li>
            <li>
                <div class="collapsible-header" style="position:relative;">
                    <i class="material-icons">cloud_upload</i>Save & Share<div style="position:absolute;right:0;top: calc( 50% - 22px / 2 );">
                        <i class="material-icons">keyboard_arrow_down</i></div></div>
                <div class="collapsible-body grey lighten-4"><span><a href="#" class="waves-effect waves-light btn blue">Send</a><a href="#" class="waves-effect waves-light btn green">Send</a></span></div>
            </li>
        </ul>

    </div>

    <ul>
        <li>
            <a href="{{ path('need_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('need_edit', { 'id': need.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
