{% block title %}New Client{% endblock %}
{% extends 'base.html.twig' %}

{% block content %}


    {{ form_start(form) }}
    <div class="input-field">
        {{ form_row(form.nom) }}
    </div>
    <div class="input-field">
        {{ form_row(form.siret) }}
    </div> <div class="file-field input-field">
    {{ form_row(form.logo) }}
</div>
<div class="input-field"><br>
    {{ form_row(form.save) }}
</div> <div class="file-field input-field">
    {{ form_end(form) }}

{% endblock %}
